.pics {
  min-height: 90vh;
  background: paleturquoise;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.1rem 1rem 3rem 1rem;
  gap: 1rem;
  position: relative;

  &__container {
    flex: 1;
    max-height: 85vh;
    background: crimson;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    padding: 0 1rem 1rem 1.5rem;
    margin-bottom: 0.5rem;

    .pics__recordsText {
      position: sticky;
      background: rgba(0, 0, 0, 0.5);
      color: #ddd;
      backdrop-filter: blur(5px);
      top: 0px;
      width: 99%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      letter-spacing: 2px;
      border-radius: 15px;
      box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.6);
      & h1 {
        text-transform: capitalize;
        margin-right: 0.5rem;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__imagesGrid {
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background: crimson;
    position: relative;
    gap: 1.5rem;
  }
  &__loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: maroon;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  &__categoryContainer {
    width: 300px;
    min-height: 85vh;
    max-height: 85vh;
    background: #fff;
    padding: 0.1rem 0rem 2rem 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

    & h1 {
      position: sticky;
      top: 0px;
      height: 40px;
      border-radius: 10px;
      width: 100%;
      font-weight: 500;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #fff;
      text-align: center;
      background: rgba(0, 0, 0, 1);
      backdrop-filter: blur(5px);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 1),
        -2px -2px 10px rgba(200, 200, 200, 0.51);
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__loaderBreeds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: maroon;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 5rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 120;
  }
}

.pics__breedCategory {
  background: maroon;
  color: #ddd;
  border-radius: 10px 10px 2px 2px;
  padding: 0.5rem;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.9);
  margin: 0.2rem 1rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  transition: 0.3s ease;
  cursor: pointer;
  & span {
    margin-right: 0.8rem;
  }
  &:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);
    color: #fff;
    background: rgb(71, 5, 5);
  }
}
