.pics {
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  background: -webkit-gradient(linear, right top, left top, from(rgba(6, 59, 158, 0.5)), to(rgba(255, 165, 0, 0.5)));
  background: linear-gradient(-90deg, rgba(6, 59, 158, 0.5), rgba(255, 165, 0, 0.5));
}

.pics__container {
  height: 100%;
  width: 100%;
  max-width: 1900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 0.5rem 0rem 0.5rem;
  gap: 0.2rem;
  position: relative;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.2);
}

.pics__container::before {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  height: 3rem;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 120;
  border-radius: 0.5rem 0.5rem 0 0;
}

@supports not ((-webkit-backdrop-filter: blur(0.5rem)) or (backdrop-filter: blur(0.5rem))) {
  .pics__container::before {
    background: rgba(0, 0, 0, 0.75);
  }
}

.pics__photosContainer {
  -webkit-box-flex: 0.65;
      -ms-flex: 0.65;
          flex: 0.65;
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  max-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  overflow-y: scroll;
  position: relative;
  padding-bottom: 3rem;
}

.pics__photosContainer::-webkit-scrollbar {
  display: none;
}

.pics__errorMsgContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.pics__headingContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 3.1rem;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
  border-radius: 0 0 0.5rem 0.5rem;
}

@supports not ((-webkit-backdrop-filter: blur(0.5rem)) or (backdrop-filter: blur(0.5rem))) {
  .pics__headingContainer {
    background: rgba(0, 0, 0, 0.75);
  }
}

.pics__headingContainer h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pics__headingContainer h1 span {
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  margin: 0 0.1rem;
  font-size: 0.8rem;
  padding: 0.3rem 0.2rem;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: 400;
}

.pics__headingContainer h1 span:nth-child(1) {
  background: rgba(31, 30, 30, 0.5);
}

.pics__headingContainer h1 span:nth-child(2) {
  background: orange;
}

.pics__headingContainer h1 span:nth-child(3) {
  background: rgba(31, 30, 30, 0.5);
}

.pics__imagesGrid {
  margin: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
  gap: 3rem 0;
}

.pics__photoWrapper {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.pics__photoWrapper::before {
  position: absolute;
  content: "";
  bottom: -5%;
  right: -5%;
  width: 150px;
  height: 100px;
  border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  background: rgba(255, 165, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(110, 12, 97, 0.5)), to(orange));
  background: linear-gradient(180deg, rgba(110, 12, 97, 0.5), orange);
  z-index: -1;
}

.pics__photoWrapper::after {
  position: absolute;
  content: "";
  top: -5%;
  left: -5%;
  width: 200px;
  height: 250px;
  border-radius: 23% 77% 71% 29% / 42% 29% 71% 58%;
  background: rgba(16, 6, 107, 0.2);
  background: linear-gradient(45deg, rgba(16, 6, 107, 0.5), rgba(255, 165, 0, 0.5));
  z-index: -1;
}

.pics__loaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(-45deg, rgba(255, 165, 0, 0.8), #092635);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.pics__categoryLoaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(-45deg, rgba(255, 165, 0, 0.8), #092635);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.pics__categoryContainer {
  -webkit-box-flex: 0.35;
      -ms-flex: 0.35;
          flex: 0.35;
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  max-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  padding-bottom: 3.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.pics__categoryContainer h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
  color: #ddd;
  letter-spacing: 0.05rem;
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@supports not ((-webkit-backdrop-filter: blur(0.5rem)) or (backdrop-filter: blur(0.5rem))) {
  .pics__categoryContainer h1 {
    background: rgba(0, 0, 0, 0.75);
  }
}

.pics__categoryContainer::-webkit-scrollbar {
  display: none;
}

.pics__breedCategory {
  background: -webkit-gradient(linear, left bottom, left top, from(#2f1281), to(rgba(128, 0, 0, 0.5)));
  background: linear-gradient(0deg, #2f1281, rgba(128, 0, 0, 0.5));
  color: #ddd;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  -webkit-transition: border-radius 0.3s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  transition: border-radius 0.3s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  transition: border-radius 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: border-radius 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  cursor: pointer;
  letter-spacing: 0.03rem;
  font-size: 0.55rem;
  padding: 0.3rem;
  margin: 0.5rem 0.1rem;
  position: relative;
}

.pics__breedCategory span {
  margin-right: 0.2rem;
}

.pics__breedCategory:hover {
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#2f1281), to(#2f1281));
  background: linear-gradient(0deg, #2f1281, #2f1281);
}

@media screen and (min-width: 600px) {
  .pics__breedCategory span {
    margin: 0 0.3rem;
  }
}

@media screen and (min-width: 768px) {
  .pics {
    gap: 0.5rem;
  }
  .pics__photosContainer {
    -webkit-box-flex: 0.7;
        -ms-flex: 0.7;
            flex: 0.7;
    padding-bottom: 3rem;
  }
  .pics__headingContainer h1 span {
    letter-spacing: 0.15rem;
    margin: 0 0.3rem;
    font-size: 1.1rem;
    padding: 0.3rem 0.5rem;
    font-weight: 400;
  }
  .pics__imagesGrid {
    gap: 3rem 0.5rem;
  }
  .pics__photoWrapper {
    margin: 0 auto;
  }
  .pics__photoWrapper::before {
    bottom: -5%;
    right: -5%;
    width: 150px;
    height: 100px;
    border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  }
  .pics__photoWrapper::after {
    top: -5%;
    left: -5%;
    width: 200px;
    height: 250px;
    border-radius: 23% 77% 71% 29% / 42% 29% 71% 58%;
  }
  .pics__categoryContainer {
    -webkit-box-flex: 0.3;
        -ms-flex: 0.3;
            flex: 0.3;
    padding-bottom: 3.5rem;
  }
  .pics__categoryContainer h1 {
    letter-spacing: 0.12rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .pics__breedCategory {
    font-size: 1rem;
    padding: 0.5rem;
    letter-spacing: 0.12rem;
    margin: 0.8rem 0.2rem;
  }
  .pics__breedCategory span {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .pics {
    gap: 0.8rem;
  }
  .pics__imagesGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 3rem 1rem;
  }
  .pics__photoWrapper::before {
    bottom: -5%;
    right: -10%;
    width: 200px;
    height: 150px;
    border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  }
  .pics__photoWrapper::after {
    top: -5%;
    left: -10%;
    width: 250px;
    height: 300px;
    border-radius: 23% 77% 71% 29% / 42% 29% 71% 58%;
  }
}

@media screen and (min-width: 1280px) {
  .pics__photosContainer {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
    padding-bottom: 3rem;
  }
  .pics__imagesGrid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 3rem 0.5rem;
  }
  .pics__categoryContainer {
    -webkit-box-flex: 0.2;
        -ms-flex: 0.2;
            flex: 0.2;
  }
}
/*# sourceMappingURL=Pics.css.map */