.searchBox {
  width: 100%;
}

.searchBox__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.15rem;
  background-color: transparent;
  width: 100%;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: #230863;
  border: 0.11rem solid #230863;
  -webkit-box-shadow: 0 0 1px #111;
          box-shadow: 0 0 1px #111;
  padding: 0.4rem;
  letter-spacing: 0.15rem;
  font-size: 1rem;
  font-weight: 650;
  -webkit-transition: background 0.5s ease-out, color 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  transition: background 0.5s ease-out, color 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  transition: background 0.5s ease-out, color 0.5s ease-out, box-shadow 0.5s ease-out;
  transition: background 0.5s ease-out, color 0.5s ease-out, box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
}

.searchBox__form:hover, .searchBox__form:focus-within {
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px #111;
          box-shadow: 0 0 2px #111;
}

.searchBox__inputField {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.9rem;
  padding: 0.2rem;
  outline: none;
  min-width: 5rem;
  font-weight: 300;
  border: none;
  margin-left: 0.1rem;
  background: transparent;
}

.searchBox__btn {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #230863;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchBox__btn--searchClear {
  border-left: 1px solid #dad2d2;
}

.searchBox__icon {
  font-size: 1.3rem !important;
}

@media screen and (min-width: 1024px) {
  .searchBox {
    width: 17.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .searchBox__form {
    border-radius: 0.5rem;
    width: 10rem;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
  }
  .searchBox__form:hover, .searchBox__form:focus-within {
    width: 17.5rem;
  }
  .searchBox__inputField {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }
  .searchBox__icon {
    font-size: 1.8rem !important;
  }
}

@media screen and (min-width: 1440px) {
  .searchBox {
    width: 20rem;
  }
  .searchBox__form:hover, .searchBox__form:focus-within {
    width: 20rem;
  }
  .searchBox__inputField {
    font-size: 1.3rem;
    font-weight: 550;
    letter-spacing: 0.15rem;
  }
  .searchBox__icon {
    font-size: 2rem !important;
  }
}
/*# sourceMappingURL=SearchBox.css.map */