.facts {
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  background: -webkit-gradient(linear, left top, right top, from(rgba(6, 59, 158, 0.5)), to(rgba(255, 165, 0, 0.5)));
  background: linear-gradient(90deg, rgba(6, 59, 158, 0.5), rgba(255, 165, 0, 0.5));
  padding-bottom: 2rem;
  position: relative;
}

.facts__loaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(-45deg, rgba(255, 165, 0, 0.8), #092635);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.facts__pagination {
  position: -webkit-sticky;
  position: sticky;
  top: var(--headerHeight);
  margin: 0 auto;
  width: 100%;
  max-width: 1900px;
  height: 3.5rem;
  z-index: 999;
  background: #445;
  font-family: Cambria, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.08rem;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.facts__pagination > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facts__scrollProgressContainer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 0.4rem;
  background: rgba(189, 195, 199, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(189, 195, 199, 0.5)), color-stop(50%, rgba(189, 195, 199, 0.75)), to(rgba(189, 195, 199, 0.5)));
  background: linear-gradient(180deg, rgba(189, 195, 199, 0.5) 0%, rgba(189, 195, 199, 0.75) 50%, rgba(189, 195, 199, 0.5) 100%);
  border: 1px solid rgba(31, 50, 78, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.facts__scrollProgressContainer .progress {
  width: 100%;
}

.facts__btnCount {
  width: 3rem;
  height: 1.8rem;
  margin: 0 0.4rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(35, 8, 99, 0.3);
  color: #ccc;
  border: 0.1rem solid #230863;
  border-radius: 0.25rem;
}

.facts__btnCount:hover {
  background: #230863;
  color: #fff;
}

.facts__btnCount--disabled {
  width: 3rem;
  height: 1.8rem;
  margin: 0 0.4rem;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  color: #888;
  border-radius: 0.25rem;
}

.facts__chevron {
  width: 2rem;
  height: 1.8rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(35, 8, 99, 0.3);
  color: #ccc;
  border: 0.1rem solid #230863;
  border-radius: 0.25rem;
}

.facts__chevron:hover {
  background: #230863;
  color: #fff;
}

.facts__chevron--disabled {
  width: 2rem;
  height: 1.8rem;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  color: #888;
  border-radius: 0.25rem;
}

.facts__chevronIcon {
  font-size: 1.2rem;
}

.facts__result {
  margin: 0 0.3rem;
  padding: 0.5rem 0.2rem;
  border-radius: 0.25rem;
  border: 0.11rem solid rgba(38, 39, 39, 0.8);
  color: #fff;
  font-size: 0.9rem;
}

.facts__result > span {
  letter-spacing: 0.2rem;
  padding: 0.3rem;
  border: 0.5px solid rgba(38, 39, 39, 0.5);
}

.facts__result > span:nth-child(1) {
  border-radius: 0.15rem 0 0 0.15rem;
  background: rgba(255, 165, 0, 0.5);
}

.facts__result > span:nth-child(2) {
  border-radius: 0 0.15rem 0.15rem 0;
  background: transparent;
  border-left: none;
}

.facts__containerOverflow {
  overflow: hidden;
}

.facts__container {
  margin: 3rem auto 5rem;
  width: 85vw;
  max-width: 1900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 2px #111;
          box-shadow: 0 0 2px #111;
  border-radius: 0.25rem;
  gap: 0.5rem;
}

.facts__info {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  background: -webkit-gradient(linear, right top, left top, from(rgba(6, 59, 158, 0.5)), to(rgba(255, 165, 0, 0.6)));
  background: linear-gradient(-90deg, rgba(6, 59, 158, 0.5), rgba(255, 165, 0, 0.6));
  -webkit-box-shadow: 0 0 5px #111;
          box-shadow: 0 0 5px #111;
  padding: 1rem 0.5rem 0.5rem 1rem;
  border-radius: 0.15rem;
  position: relative;
  z-index: 1;
}

.facts__info::before {
  position: absolute;
  content: "";
  top: -5%;
  right: -5%;
  width: 150px;
  height: 100px;
  border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  background: rgba(255, 165, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(110, 12, 97, 0.5)), to(transparent));
  background: linear-gradient(180deg, rgba(110, 12, 97, 0.5), transparent);
  z-index: -1;
}

.facts__info::after {
  position: absolute;
  content: "";
  top: -5%;
  left: -5%;
  width: 250px;
  height: 230px;
  border-radius: 23% 77% 71% 29% / 42% 29% 71% 58%;
  background: rgba(16, 6, 107, 0.2);
  background: linear-gradient(45deg, rgba(16, 6, 107, 0.5), rgba(255, 165, 0, 0.5));
  z-index: -1;
}

.facts__badgeWrapper {
  position: absolute;
  top: -1rem;
  left: 0;
  z-index: 101;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.2rem 0.5rem;
}

.facts__badgeWrapper span {
  font-size: 0.8rem;
  color: #fff;
}

.facts__imageContainer {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  background: -webkit-gradient(linear, right top, left top, from(rgba(6, 59, 158, 0.5)), to(rgba(255, 165, 0, 0.6)));
  background: linear-gradient(-90deg, rgba(6, 59, 158, 0.5), rgba(255, 165, 0, 0.6));
  -webkit-box-shadow: 0 0 5px #111;
          box-shadow: 0 0 5px #111;
  border-radius: 0.15rem;
  position: relative;
  z-index: 1;
}

.facts__imageContainer::before {
  position: absolute;
  content: "";
  bottom: -10%;
  left: -5%;
  width: 150px;
  height: 100px;
  border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  background: rgba(255, 165, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(110, 12, 97, 0.5)), to(rgba(255, 165, 0, 0.5)));
  background: linear-gradient(180deg, rgba(110, 12, 97, 0.5), rgba(255, 165, 0, 0.5));
  z-index: -1;
}

.facts__imageContainer::after {
  position: absolute;
  content: "";
  top: -5%;
  right: -5%;
  width: 250px;
  height: 230px;
  border-radius: 23% 77% 71% 29% / 42% 29% 71% 58%;
  background: rgba(16, 6, 107, 0.2);
  background: linear-gradient(45deg, rgba(16, 6, 107, 0.5), rgba(16, 110, 122, 0.5));
  z-index: -1;
}

.facts__imageContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facts__nameHeading {
  letter-spacing: 0.15rem;
  color: #eee;
  font-size: 1rem;
  padding: 0.3rem 0.3rem 0.3rem 0.8rem;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 2px 5px #111;
          box-shadow: 0 2px 5px #111;
  border-radius: 0.15rem 0.15rem 0 0;
  font-weight: 300;
}

.facts__errorMsgContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1900px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 768px) {
  .facts__pagination {
    height: 4rem;
    letter-spacing: 0.12rem;
  }
  .facts__scrollProgressContainer {
    height: 0.7rem;
  }
  .facts__btnCount {
    width: 3.5rem;
    height: 2rem;
    margin: 0 0.5rem;
  }
  .facts__btnCount--disabled {
    width: 3.5rem;
    height: 2rem;
    margin: 0 0.5rem;
  }
  .facts__chevron {
    width: 2.2rem;
    height: 2rem;
  }
  .facts__chevron--disabled {
    width: 2.2rem;
    height: 2rem;
  }
  .facts__chevronIcon {
    font-size: 1.5rem;
  }
  .facts__result {
    margin: 0 0.3rem;
    padding: 0.5rem 0.2rem;
    font-size: 1.1rem;
  }
  .facts__result > span {
    letter-spacing: 0.2rem;
    padding: 0.3rem;
    border: 1px solid rgba(38, 39, 39, 0.5);
  }
  .facts__container {
    width: 90vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .facts__info {
    -webkit-box-flex: 0.7;
        -ms-flex: 0.7;
            flex: 0.7;
  }
  .facts__info::before {
    top: -10%;
    right: -5%;
    width: 200px;
    height: 150px;
    border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  }
  .facts__info::after {
    top: -5%;
    left: -5%;
    width: 250px;
    height: 260px;
    border-radius: 23% 77% 71% 29% / 42% 29% 71% 58%;
  }
  .facts__badgeWrapper {
    padding: 0.3rem 0.6rem;
  }
  .facts__badgeWrapper span {
    font-size: 1rem;
  }
  .facts__imageContainer {
    -webkit-box-flex: 0.3;
        -ms-flex: 0.3;
            flex: 0.3;
    border-radius: 0.5rem;
  }
  .facts__imageContainer::before {
    bottom: -10%;
    left: -5%;
    width: 150px;
    height: 100px;
    border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  }
  .facts__imageContainer::after {
    top: -5%;
    right: -10%;
    width: 250px;
    height: 230px;
    border-radius: 23% 77% 71% 29% / 42% 29% 71% 58%;
  }
  .facts__nameHeading {
    letter-spacing: 0.18rem;
    font-size: 1.1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 400;
  }
}

@media screen and (min-width: 1024px) {
  .facts__pagination {
    height: 4.5rem;
    letter-spacing: 0.12rem;
  }
  .facts__scrollProgressContainer {
    height: 0.95rem;
  }
  .facts__container {
    width: 90vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .facts__nameHeading {
    letter-spacing: 0.18rem;
    font-size: 1.1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 400;
  }
  .facts__badgeWrapper {
    padding: 0.3rem 0.8rem;
  }
  .facts__badgeWrapper span {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .facts__pagination {
    height: 5.5rem;
  }
  .facts__scrollProgressContainer {
    height: 1.2rem;
  }
}
/*# sourceMappingURL=Facts.css.map */