.facts {
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: orange;
  padding-bottom: 2rem;
  position: relative;

  &__loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: maroon;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  & h3 {
    position: sticky;
    padding: 1rem 0;
    top: 0;
    z-index: 999;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 15px 5px rgba(255, 255, 255, 0.6);
  }

  &__container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 1rem 1rem 2rem;
    gap: 1rem;
  }
  &__info {
    width: 65%;
    background: crimson;
    box-shadow: 0 0 5px #111;
    padding: 1rem 0.5rem 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
  }
  &__badgeWrapper {
    position: absolute;
    top: -1.2rem;
    left: 0rem;
    padding: 3px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
  }
  &__imageContainer {
    background: crimson;
    box-shadow: 0 0 5px #111;
    overflow: hidden;
    width: 35%;
    border-radius: 20px;

    & h1 {
      letter-spacing: 2px;
      color: #eee;
      font-size: 1.1rem;
      padding: 0.3rem 0.3rem 0.3rem 0.8rem;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 2px 5px #111;
    }
    & div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
