.errorMessage {
  width: 90%;
  height: 50%;
  max-width: 800px;
  box-shadow: 0 0 5px #111;
  background: rgb(134, 114, 76);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  & img {
    width: 100%;
    max-width: 100px;
    object-fit: contain;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 5px #111;
  }
  & p {
    width: 90%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .errorMessage p {
    font-size: 1rem;
    letter-spacing: 0.15rem;
  }
}
