.header {
  background: rgba($color: #000000, $alpha: 0.3);
  backdrop-filter: blur(5px);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1111;
  & a {
    text-decoration: none;
  }
  &__navLinks {
    // background: chartreuse;
    display: flex;
    align-items: center;

    & a {
      padding: 0.3rem 0.8rem;
      background: maroon;
      border-radius: 5px;
      color: #888;
      letter-spacing: 2px;
      // background: red;
      margin-right: 0.5rem;
      box-shadow: 0 0 2px #111;
      cursor: pointer;
      &:hover {
        background: maroon;
        color: #fff;
      }
    }
  }
}
