.header {
  
  background: rgb(8, 106, 155);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  color: #fff;
}

.header__searchBox {
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 40px;
  background-color: #fff;

  width: 210px;
  transition: width 0.5s ease-in-out;
}
.header__searchBox:hover {
  width: 230px;
}

.header__input {
  flex: 1;
  font-size: 1rem;
  padding: 0.2rem;
  outline: none;
  min-width: 100px;
  font-weight: 520;
  letter-spacing: 0.5px;
  border: none;
  margin-left: 0.2rem;
}

.header__submitBtn {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
