.search {
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));

  background: linear-gradient(
    90deg,
    rgba(6, 59, 158, 0.5),
    rgba(255, 165, 0, 0.5)
  );
  padding-bottom: 2rem;
  position: relative;
  &__loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgba(255, 165, 0, 0.8), rgb(9, 38, 53));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  &__resultHeading {
    position: sticky;
    padding: 1rem 0;
    top: var(--headerHeight);
    z-index: 999;
    text-align: center;
    color: orange;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    font-family: Cambria, sans-serif;
    border-bottom: 1px solid #445;
    font-size: 1.2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);

    & span {
      margin-right: 0.3rem;
      display: inline-block;
      padding: 0rem 0.5rem;
      border-radius: 0.15rem;
      background: orange;
      color: #ececec;
      font-size: 1.2rem;
    }
  }

  &__containerOverflow {
    overflow: hidden;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto 1rem auto;
    width: 95vw;
    max-width: 1920px;
  }
  &__info {
    width: 90%;
    background: linear-gradient(
      -90deg,
      rgba(6, 59, 158, 0.5),
      rgba(255, 165, 0, 0.6)
    );

    box-shadow: 0 0 5px #111;
    padding: 1rem 0.5rem 0.5rem 1rem;
    border-radius: 0.15rem;
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      content: "";
      top: -5%;
      right: -5%;
      width: 150px;
      height: 100px;
      border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
      background: rgba(255, 165, 0, 0.5);
      background: linear-gradient(180deg, rgba(110, 12, 97, 0.5), transparent);
      z-index: -1;
    }
    &::after {
      position: absolute;
      content: "";
      top: -5%;
      left: -5%;
      width: 250px;
      height: 230px;
      border-radius: 23% 77% 71% 29% / 42% 29% 71% 58%;
      background: rgba(16, 6, 107, 0.2);
      background: linear-gradient(
        45deg,
        rgba(16, 6, 107, 0.5),
        rgba(255, 165, 0, 0.5)
      );
      z-index: -1;
    }
  }

  &__badgeWrapper {
    position: absolute;
    top: -1rem;
    left: 0rem;
    z-index: 101;
    border-radius: 0.25rem;
    background: rgba(0, 0, 0, 0.8);
    padding: 0.2rem 0.5rem;
    & span {
      font-size: 0.8rem;
      color: #fff;
    }
  }

  &__errorMsgContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
  }
  &__infoMsgContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 50%;
    max-width: 800px;
    box-shadow: 0 0 5px #111;
    background: rgb(134, 114, 76);
    border-radius: 0.5rem;
    & img {
      width: 100px;
      object-fit: contain;
      display: block;
      border-radius: 50%;
      box-shadow: 0 0 5px #111;
    }
    & p {
      width: 90%;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      color: #fff;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .search {
    &__resultHeading {
      letter-spacing: 0.1rem;
      font-size: 1.5rem;

      & span {
        margin-right: 0.4rem;
        font-size: 1.3rem;
        padding: 0.2rem 0.5rem;
      }
    }

    &__info {
      padding: 1.2rem 0.5rem 0.5rem 1rem;
      border-radius: 0.25rem;

      &::before {
        top: -5%;
        right: -5%;
        width: 200px;
        height: 150px;
        border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
      }
      &::after {
        top: -5%;
        left: -5%;
        width: 250px;
        height: 260px;
        border-radius: 23% 77% 71% 29% / 42% 29% 71% 58%;
      }
    }
    &__badgeWrapper {
      padding: 0.3rem 0.6rem;
      & span {
        font-size: 1rem;
      }
    }
    &__infoMsgContainer p {
      width: 90%;
      font-size: 1rem;
      letter-spacing: 0.15rem;
    }
  }
}
@media screen and (min-width: 1024px) {
  .search {
    &__info {
      &::before {
        top: -5%;
        right: -5%;
        width: 200px;
        height: 150px;
        border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
      }
      &::after {
        top: -5%;
        left: -5%;
        width: 300px;
        height: 250px;
        border-radius: 28% 72% 68% 32% / 38% 7% 93% 62%;
        border-right: 1px solid rgba(110, 106, 106, 0.5);
      }
    }
    &__badgeWrapper {
      padding: 0.3rem 0.8rem;
    }
  }
}
