.search {
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  background: -webkit-gradient(linear, left top, right top, from(rgba(6, 59, 158, 0.5)), to(rgba(255, 165, 0, 0.5)));
  background: linear-gradient(90deg, rgba(6, 59, 158, 0.5), rgba(255, 165, 0, 0.5));
  padding-bottom: 2rem;
  position: relative;
}

.search__loaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(-45deg, rgba(255, 165, 0, 0.8), #092635);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.search__resultHeading {
  position: -webkit-sticky;
  position: sticky;
  padding: 1rem 0;
  top: var(--headerHeight);
  z-index: 999;
  text-align: center;
  color: orange;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-family: Cambria, sans-serif;
  border-bottom: 1px solid #445;
  font-size: 1.2rem;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.search__resultHeading span {
  margin-right: 0.3rem;
  display: inline-block;
  padding: 0rem 0.5rem;
  border-radius: 0.15rem;
  background: orange;
  color: #ececec;
  font-size: 1.2rem;
}

.search__containerOverflow {
  overflow: hidden;
}

.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem auto 1rem auto;
  width: 95vw;
  max-width: 1900px;
}

.search__info {
  width: 90%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(6, 59, 158, 0.5)), to(rgba(255, 165, 0, 0.6)));
  background: linear-gradient(-90deg, rgba(6, 59, 158, 0.5), rgba(255, 165, 0, 0.6));
  -webkit-box-shadow: 0 0 5px #111;
          box-shadow: 0 0 5px #111;
  padding: 1rem 0.5rem 0.5rem 1rem;
  border-radius: 0.15rem;
  position: relative;
  z-index: 1;
}

.search__info::before {
  position: absolute;
  content: "";
  top: -5%;
  right: -5%;
  width: 150px;
  height: 100px;
  border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  background: rgba(255, 165, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(110, 12, 97, 0.5)), to(transparent));
  background: linear-gradient(180deg, rgba(110, 12, 97, 0.5), transparent);
  z-index: -1;
}

.search__info::after {
  position: absolute;
  content: "";
  top: -5%;
  left: -5%;
  width: 250px;
  height: 230px;
  border-radius: 23% 77% 71% 29% / 42% 29% 71% 58%;
  background: rgba(16, 6, 107, 0.2);
  background: linear-gradient(45deg, rgba(16, 6, 107, 0.5), rgba(255, 165, 0, 0.5));
  z-index: -1;
}

.search__badgeWrapper {
  position: absolute;
  top: -1rem;
  left: 0rem;
  z-index: 101;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.2rem 0.5rem;
}

.search__badgeWrapper span {
  font-size: 0.8rem;
  color: #fff;
}

.search__errorMsgContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1900px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
}

.search__infoMsgContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 80%;
  height: 50%;
  max-width: 800px;
  -webkit-box-shadow: 0 0 5px #111;
          box-shadow: 0 0 5px #111;
  background: #86724c;
  border-radius: 0.5rem;
}

.search__infoMsgContainer img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px #111;
          box-shadow: 0 0 5px #111;
}

.search__infoMsgContainer p {
  width: 90%;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .search__resultHeading {
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
  }
  .search__resultHeading span {
    margin-right: 0.4rem;
    font-size: 1.3rem;
    padding: 0.2rem 0.5rem;
  }
  .search__info {
    padding: 1.2rem 0.5rem 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  .search__info::before {
    top: -5%;
    right: -5%;
    width: 200px;
    height: 150px;
    border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  }
  .search__info::after {
    top: -5%;
    left: -5%;
    width: 250px;
    height: 260px;
    border-radius: 23% 77% 71% 29% / 42% 29% 71% 58%;
  }
  .search__badgeWrapper {
    padding: 0.3rem 0.6rem;
  }
  .search__badgeWrapper span {
    font-size: 1rem;
  }
  .search__infoMsgContainer p {
    width: 90%;
    font-size: 1rem;
    letter-spacing: 0.15rem;
  }
}

@media screen and (min-width: 1024px) {
  .search__info::before {
    top: -5%;
    right: -5%;
    width: 200px;
    height: 150px;
    border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  }
  .search__info::after {
    top: -5%;
    left: -5%;
    width: 300px;
    height: 250px;
    border-radius: 28% 72% 68% 32% / 38% 7% 93% 62%;
    border-right: 1px solid rgba(110, 106, 106, 0.5);
  }
  .search__badgeWrapper {
    padding: 0.3rem 0.8rem;
  }
}
/*# sourceMappingURL=Search.css.map */