.footer {
  height: var(--footerHeight);
  background: linear-gradient(
    180deg,
    rgba(6, 59, 158, 0.7),
    rgba(255, 165, 0, 0.7)
  );
  overflow: hidden;
  &__container {
    height: 100%;
    background: linear-gradient(
      45deg,
      transparent,
      rgb(14, 58, 114) 20%,
      rgb(247, 207, 75) 20%,
      rgb(121, 28, 129) 80%,
      rgb(14, 58, 114) 80%,
      transparent
    );
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__socialIcons {
    display: flex;
  }
  &__socialIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.8rem;
    background: rgb(23, 35, 104);
    box-shadow: 0 0 3px #111;
    transition: background 0.3s ease, box-shadow 0.3s ease-out;
    cursor: pointer;
    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(41, 58, 71, 0.6);
      width: 90%;
      height: 90%;
      border-radius: 50%;
      font-size: 1.1rem;
      color: #ddd;
      transition: color 0.3s linear;
    }
    &:hover {
      background: rgb(51, 8, 77);
      box-shadow: 0px 0px 3px #111;
      & span {
        color: #fff;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    &__socialIcon {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      margin-right: 1.2rem;
      & span {
        width: 90%;
        height: 90%;
        font-size: 1.3rem;
      }
    }
  }
}
