.herobg {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(9, 38, 65, 0.7),
    rgba(255, 165, 0, 0.5),
    transparent
  );
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;

  &__imgWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    & img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      object-fit: contain;
    }
  }

  &__blueWave {
    position: absolute;
    top: 0rem;
    left: -0.5rem;
    width: 40%;
    height: 4rem;
    background: linear-gradient(0deg, rgba(7, 45, 65, 0.3), transparent);
    border-radius: 43% 57% 82% 18% / 0% 0% 100% 100%;

    & > span {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 43% 57% 82% 18% / 0% 0% 100% 100%;
      background: linear-gradient(0deg, rgba(7, 45, 65, 0.3), transparent);
      &:nth-child(1) {
        top: -0.5rem;
      }
      &:nth-child(2) {
        top: -1rem;
      }
      &:nth-child(3) {
        top: -1.5rem;
      }
    }
  }
  &__yellowWave {
    position: absolute;
    bottom: -3rem;
    right: -5rem;
    width: 50%;
    height: 150px;
    border-radius: 46% 54% 100% 0% / 100% 52% 48% 0%;
    background: linear-gradient(0deg, rgba(255, 165, 0, 0.5), transparent);
    transform: rotate(5deg);
    border: 1px solid orange;
    border: 1px solid rgba(250, 104, 0, 0.5);

    & > span {
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 46% 54% 100% 0% / 100% 52% 48% 0%;
      background: linear-gradient(0deg, rgba(255, 165, 0, 0.2), transparent);
      border: 1px solid rgba(250, 104, 0, 0.5);
      &:nth-child(1) {
        bottom: -0.3rem;
        right: -0.3rem;
      }
      &:nth-child(2) {
        bottom: -0.6rem;
        right: -0.6rem;
      }
      &:nth-child(3) {
        bottom: -0.9rem;
        right: -0.9rem;
      }
      &:nth-child(4) {
        bottom: -1.2rem;
        right: -1.2rem;
      }
      &:nth-child(5) {
        bottom: -1.5rem;
        right: -1.5rem;
      }
      &:nth-child(6) {
        bottom: -1.8rem;
        right: -1.8rem;
      }
      &:nth-child(7) {
        bottom: -2.1rem;
        right: -2.1rem;
      }
    }
  }
  &__circles {
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(7, 45, 65, 0.3);
    background: linear-gradient(
      0deg,
      rgba(250, 104, 0, 0.5),
      rgba(31, 50, 78, 0.5)
    );
    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 50%;
    }
    & > span {
      position: absolute;
      bottom: 0%;
      left: 0%;
      background: linear-gradient(
        0deg,
        rgba(250, 104, 0, 0.5),
        rgba(31, 50, 78, 0.4)
      );

      border-radius: 50%;
      &:nth-child(1) {
        width: 95%;
        height: 95%;
      }
      &:nth-child(2) {
        width: 90%;
        height: 90%;
      }
    }
  }

  &__shapes {
    position: absolute;
    top: -2rem;
    right: -4.5rem;
    width: 150px;
    height: 100px;
    background: linear-gradient(45deg, rgba(44, 14, 100, 0.8), orange);
    margin: 0.5rem;
    border-radius: 74% 26% 44% 56% / 16% 42% 58% 84%;

    & > span {
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: linear-gradient(180deg, #fa6800, #1f324e);
      &:nth-child(1) {
        top: 2.2rem;
        left: 2.2rem;
      }
      &:nth-child(2) {
        top: 3rem;
        left: 3rem;
      }
      &:nth-child(3) {
        top: 3.8rem;
        left: 3.8rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .herobg {
    &__circles {
      bottom: -1.8rem;
      left: -1.8rem;
      width: 200px;
      height: 200px;
    }

    &__shapes {
      top: -2rem;
      right: -4.5rem;
      width: 200px;
      height: 150px;

      & > span {
        width: 0.8rem;
        height: 0.8rem;
        &:nth-child(1) {
          top: 3rem;
          left: 3rem;
        }
        &:nth-child(2) {
          top: 4rem;
          left: 4rem;
        }
        &:nth-child(3) {
          top: 5rem;
          left: 5rem;
        }
      }
    }
  }
}
