.rotating {
  position: relative;
  width: 200px;
  height: 350px;
  transform-style: preserve-3d;
  animation: rotating-gallery 20s linear infinite;
  --translateZ: 300px;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    filter: grayscale(80%);
    &:nth-child(1) {
      transform: rotateY(51deg) translateZ(var(--translateZ));
    }
    &:nth-child(2) {
      transform: rotateY(102deg) translateZ(var(--translateZ));
    }
    &:nth-child(3) {
      transform: rotateY(153deg) translateZ(var(--translateZ));
    }
    &:nth-child(4) {
      transform: rotateY(204deg) translateZ(var(--translateZ));
    }
    &:nth-child(5) {
      transform: rotateY(256deg) translateZ(var(--translateZ));
    }
    &:nth-child(6) {
      transform: rotateY(307deg) translateZ(var(--translateZ));
    }
    &:nth-child(7) {
      transform: rotateY(360deg) translateZ(var(--translateZ));
    }
    &:hover {
      filter: grayscale(0);
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 0.5rem;
    }
  }
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes rotating-gallery {
  0% {
    transform: perspective(1600px) rotateY(0deg);
  }
  100% {
    transform: perspective(1600px) rotateY(360deg);
  }
}

@media screen and (min-width: 1024px) {
  .rotating {
    width: 450px;
    height: 250px;
    --translateZ: 600px;
    & > div {
      &:nth-child(1) {
        transform: rotateY(51deg) translateZ(var(--translateZ));
      }
      &:nth-child(2) {
        transform: rotateY(102deg) translateZ(var(--translateZ));
      }
      &:nth-child(3) {
        transform: rotateY(153deg) translateZ(var(--translateZ));
      }
      &:nth-child(4) {
        transform: rotateY(204deg) translateZ(var(--translateZ));
      }
      &:nth-child(5) {
        transform: rotateY(256deg) translateZ(var(--translateZ));
      }
      &:nth-child(6) {
        transform: rotateY(307deg) translateZ(var(--translateZ));
      }
      &:nth-child(7) {
        transform: rotateY(360deg) translateZ(var(--translateZ));
      }
    }
  }
  @keyframes rotating-gallery {
    0% {
      transform: perspective(1440px) rotateY(0deg);
    }
    100% {
      transform: perspective(1440px) rotateY(360deg);
    }
  }
}
