.infoBadge {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: rgb(25, 53, 116);
  background: linear-gradient(90deg, rgba(25, 53, 116, 0.9), transparent);
  padding: 0.2rem;
  margin: 0.1rem 0;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  border-radius: 0.15rem;
  &__labelStatic {
    display: inline-block;
    background: #666;
    padding: 0.2rem 0.5rem;
    color: #eee;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  &__labelDynamic {
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.2rem 0.5rem;
    color: #ddd;
    border-radius: 0 0.25rem 0.25rem 0;
  }
  &:hover .infoBadge__labelDynamic {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .infoBadge {
    padding: 0.2rem;
    margin: 0.1rem 0;
    letter-spacing: 0.12rem;
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 1024px) {
  .infoBadge {
    margin: 0.15rem 0;
    letter-spacing: 0.15rem;
    font-size: 1rem;
  }
}
